.root {
  height: 370px;
  padding: 0 20px;
  margin-top: 20px;
}

.content {
  display: flex;
  gap: 37px;
  flex-wrap: wrap;
  margin-top: 20px;
  height: fit-content;
}

.empty {
  justify-content: center;
  align-items: center;
  height: 400px;
}
